<ng-container *ngIf="isError; else table">
    <h2>Error occured.</h2>
</ng-container>

<ng-template #table>
    <ul role="list" class="divide-y divide-gray-100">
        <li class="flex justify-between gap-x-6 py-5" *ngFor="let user of users">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <p class="text-sm font-semibold leading-6 text-gray-900">{{ user.firstName }}</p>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ user.lastName }}</p>
                </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-sm leading-6 text-gray-900">{{ user.createdDateTime | date }}</p>
                <div class="flex flex-row space-x-2">
                    <ng-container [ngTemplateOutlet]="actionButtonTempalte" [ngTemplateOutletContext]="{ name: 'Accounts', link: 'accounts/users/' + user.id }"></ng-container>

                    <!-- Button tempate -->
                    <ng-template #actionButtonTempalte let-name="name" let-link="link">
                        <a [href]="link"
                            class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            {{ name }}
                        </a>
                    </ng-template>
                </div>
            </div>
        </li>
    </ul>
</ng-template>