<ng-container *ngIf="isError; else table">
    <h2>Error occured.</h2>
</ng-container>

<ng-template #table>
    <ul role="list" class="divide-y divide-gray-100">
        <li class="flex justify-between gap-x-6 py-5" *ngFor="let transaction of transactions">
            <div class="flex min-w-0 gap-x-4">
                <div class="min-w-0 flex-auto">
                    <p class="text-sm font-semibold leading-6 text-gray-900">{{ transaction.amount | currency }}</p>
                </div>
            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p>{{ transaction.createdDateTime | date }}</p>
            </div>
        </li>
    </ul>
</ng-template>